/* apply color and margin to both headers one and two */
h1, h2 {
  color: navy;
  margin-left: 20px;
  text-align: center;
}


a::before {
content: "\00264e: ";
font-weight: bold;
}

/* color every list element which is a child of an ordered list red */
  ol li {
 color: red;
}

/* I want to style my biography differently */
#biography {
  background-color: yellow;
}

/* styling for the welcome section of the index.html used 16px for larger screens */
.welcome{
  font-size: 16px;
  margin-left: 20px;
}

/* styling for the welcome section of the index.html used 20px for screens >= 800pxs*/

@media (min-width: 800px) {
    .welcome {
        font-size: 20px;
        margin-left: 20px;
    }
}

/* print only paragraph */
@media print{
  .screen-only{
    display:none;
  }
}

/*Select and style every <p> element where the parent is a <div> element*/
div > p {
  background-color: azure;
}

#skills {
  /*width: 600px;
  height: 400px;
  border: 10px solid #c3c3c3;*/
  display: flex;
  padding: 10px;
}

#skills div {
  /*width: 150px;
  height: 150px;*/
  padding: 10px;
  border: 15px
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
  border: 20px
	}
	ul#horizontal-list li {
		display: inline;
	}

  ul#horizontal-list li a:active {
   color: yellow;
  }



/* mouse over link */
li a:hover {
 color: red;
 background-color: #4CAF50;
}


li a.active {
  background-color: #4CAF50;
  color: white;
}

/* highlight upon selection */
p::selection{
  color: teal;
  background-color: fuschia;
}